@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*
* Custom css styles and helper classes
*/
* {
  font-size: initial;
}
body {
  background-color: #26466d;
  font-size: 16px;
}
main {
  flex: 0 1 100%;
  max-width: 100%;
}
main p {
  font-size: 1em;
  line-height: 1.5em;
}
main ul {
  font-size: 1em;
}

/*******************************************************************************
MAIN REGIONS:
*************
- Header
- Content Area
- Footer
*******************************************************************************/
/***
Header
***/
header[role="banner"] {
  margin-bottom: 0;
  background-color: #003f87;
}
header[role="banner"] .western-logo {
  height: 88px;
}
header[role="banner"] nav {
  height: 88px;
  box-shadow: none;
}
.western-quick-links li a {
  color: white;
}
.western-quick-links li a:hover,
.western-quick-links li a:focus {
  text-decoration: none;
  color: black;
  background-color: #d6e86c;
}
.quick-links-search-container .western-quick-links ul {
  width: calc(100vw - 44px);
  text-align: center;
}
.quick-links-search-container .western-quick-links a span:first-child {
  font-size: 1.5em;
}
.quick-links-search-container .western-quick-links a span:last-child {
  font-size: 0.7em;
}
.quick-links-search-container .western-search .western-search-widget {
  top: 0;
  right: 44px;
}
.western-search-widget {
  width: calc(100vw - 44px);
}
.western-search-widget .western-search-terms input,
.western-search-widget input[type="submit"] {
  font-size: 1em;
}
.site-name span {
  font-size: 1.5em;
}
@media (min-width:750px) {
  header[role="banner"] {
    position: relative;
    height: 200px;
    margin-top: 54px;
    border: solid 10px white;
    background-image: url("../images/logo-banner-image.png");
    background-repeat: no-repeat;
  }
  header[role="banner"] .western-logo {
    height: 125px;
    margin-top: -86px;
  }
  .site-name {
    display: none;
  }
  .quick-links-search-container {
    position: absolute;
    top: -65px;
    right: -10px;
    display: grid;
    justify-content: end;
    width: 100%;

    grid-template-columns: auto 44px;
  }

  .quick-links-search-container .western-quick-links ul {
    width: initial;
  }
  .quick-links-search-container .western-quick-links a span:last-child {
    font-size: 1em;
  }
  .western-quick-links {
    position: relative;
    top: initial;
    right: initial;
  }
  .quick-links-search-container .western-search {
    position: relative;
    top: initial;
    right: initial;
    display: block;
  }
  .western-search-widget {
    width: 300px;
  }
}

/***
Content Area
***/
main > div,
main > section {
  padding: 0;
}

/***
Footer
***/
footer {
  padding: 0;
  color: white;
}
footer a {
  color: #d6e86c;
}
footer div.grid-container {
  justify-content: space-around;
}
footer .footer-container {
  display: grid;
  height: initial;
  margin: 0;
  padding: 0;
  background: transparent;

  grid-template-columns: auto auto auto;
  justify-items: end;
}
footer .anchor-text {
  font-size: 1em;

  justify-self: start;
}
.subfooter {
  width: 100%;
  color: white;
  background-color: #26466d!important;
}
.subfooter p {
  color: white;
  background-color: #26466d;
  font-size: 1em;
}
.subfooter .subfooter-links {
  color: white;
  background-color: #26466d;
}
.subfooter .subfooter-links:focus,
.subfooter .subfooter-links:hover {
  text-decoration: none;
  color: #d6e86c;
}
.feedback {
  text-decoration: underline;
  font-size: 1em;
}
.feedback:hover {
  text-decoration: none;
}


/*******************************************************************************
COMPONENTS
**********
- Figures
- Headings
- Horizontal Rules
- Image
- Image Gallery
- Item Lists
- Layouts
- Navigation
*******************************************************************************/
/***
Figures
***/
figure {
  position: relative;
  display: block;
  float: none;
  max-width: none;
  text-align: center;
  border: none;
}
figure img {
  border: none;
}
figcaption {
  border: none;
}
/***
Headings
***/
h1 {
  margin: 0;
  padding: 0.5em 0 0.2em 0;
  text-transform: uppercase;
  color: #002f5e;
  font-size: 1.8em;
  font-weight: bold;
}

h2 {
  color: #003f87;
  font-size: 1.4em;
  padding: 0.5em 0 0.2em 0;
}

h3 {
  color: #4A821E;
  font-size: 1.3em;
}

h4 {
  margin: 0 0 0.5em 0;
  color: #005da8;
  font-size: 1.2em;
}
h5 {
  color: #005da8;
  font-size: 1em;
  font-weight: bold;
}
/***
Horizontal Rules
***/
hr {
  display: block;
  height: 2px;
  margin: 20px 0;
  border: 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/***
Image
***/
img {
  max-width: 100%;
}
.banner-image {
  width: 100%;
}
@media (min-width:750px) {
  .center img {
    max-width: calc(50% - 10px);
    margin: 0 5px;
  }
}

/***
Image Gallery
***/
#gallery {
  width: 100%;
}
#gallery a {
  width: 25%;
  height: 140px;
  padding: 5px;
}
#gallery img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;

  object-fit: cover;
}
#gallery a:hover img {
  border: 0;
}
.galleria {
  max-width: 700px;
  height: 400px;
  background: none!important;
}
.top-image-gallery {
  width: 100%;
}
.top-image-gallery a,
.top-image-gallery img {
  display: block;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

/***
Item lists
***/
.item li {
  list-style-type: none;
}

/***
Navigation
***/
.nav-menu {
  position: relative;
  display: block;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item > a {
  display: block;
  padding: 20px 10px;
  text-align: center;
  color: white;
}
.nav-item > a:hover,
.nav-item > a:focus,
.nav-item > a:active,
.nav-item > a.open {
  color: black;
  background: #bad80a;
}
.nav-item > a:focus,
.nav-item > a.open {
  outline: dotted 2px black;
  outline-offset: -2px;
}
.nav-item > a.open {
  background-color: #bad80a;
}
.sub-nav {
  position: absolute;
  display: none;
  background-color: #305989;
}
.sub-nav.open {
  display: block;
}
.sub-nav ul {
  display: inline-block;
  padding: 0;
  vertical-align: top;
}
.sub-nav li {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sub-nav li a {
  display: block;
  padding: 15px;
  color: white;
}

.sub-nav li a:hover,
.sub-nav li a:focus,
.sub-nav li a:active {
  color: black;
  background: #d6e86c;
}
.sub-nav li a:focus,
.sub-nav li a:active {
  outline: dotted 2px black;
  outline-offset: -2px;
}

/*******************************************************************************
HELPER CLASSES
- Alignment
- Colors
- Display
- Layouts
- Sizes
*******************************************************************************/
/***
Alignment
***/
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/***
Colors
***/
.green {
  color: #4A821E;
}

/***
Display
***/
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

/*****
Layouts
*****/
.grid-container--2col {
  display: grid;

  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto;
}
.grid-container--3col {
  display: grid;

  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;
}
.grid-container--4col {
  display: grid;

  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto auto;
}
@media (min-width:750px) {
  .main-cols {
    display: flex;
    flex: 0 1 100%;
  }
  .main-cols .one-of-two-column {
    flex: 0 1 50%;
    padding-right: 15px;
  }
  .main-cols .two-of-two-column {
    flex: 0 1 50%;
  }
  .layout-two-column img {
    width: 100%;
    height: auto;
  }
  .sidebar {
    flex: 0 1 34%;
    padding-top: 60px;
    padding-left: 15px;
  }
  .alpha-content {
    flex: 0 1 66%;
  }
  .layout-two-column {
    display: flex;
    flex: 0 1 100%;
    max-width: 100%;
    padding-bottom: 4em;
  }
}
