/* Timothy Framework - www.timothyframework.com */
/* This work is licensed under the MIT License - http://www.opensource.org/licenses/mit-license.php */


/* Color Legend


*/




#jquery-overlay {
	position:absolute; top:0; left:0; z-index:90;
	width:100%; height:500px;
	}

#jquery-lightbox {
	position:absolute; top:0; left:0; width:100%; z-index:100;
	text-align:center; line-height:0;
	}

#jquery-lightbox a img { border:none; }

#lightbox-container-image-box {
	position:relative;
	background-color:#fff;
	width:250px; height:250px; margin:0 auto;
	}

#lightbox-container-image { padding:5px; }

#lightbox-loading {
	position:absolute; top:40%; left:0%;
	height:25%; width:100%;
	text-align:center; line-height:0;
	}

#lightbox-nav {
	position:absolute; top:0; left:0; z-index:10;
	height:100%; width:100%;
  /* border-bottom: solid 70px #fff; */
  border-top: solid 10px #fff;

	}

#lightbox-container-image-box > #lightbox-nav { left:0; }

#lightbox-nav a { outline:none;}

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width:49%; height:100%;
	display:block;
	}

#lightbox-nav-btnPrev {
	left:0;
	float:left;
	}

#lightbox-nav-btnNext {
	right:0;
	float:right;
	}

#lightbox-container-image-data-box {
	font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:1.4em;
	background-color:#fff;
	margin:-50px auto; overflow:auto;
	width:100%;
  position:relative;
  z-index:20;
  padding-top:10px;
	}

#lightbox-container-image-data {
	padding:0 10px;
	color:#666;

	}

#lightbox-container-image-data #lightbox-image-details {
	width:70%;
	float:left;
	text-align:left;
	}

#lightbox-image-details-caption { font-weight:bold; }

#lightbox-image-details-currentNumber {
	display:block;
	clear:left;
	padding-bottom:1.0em;
	}

#lightbox-secNav-btnClose {
	width:66px;
	float:right;
	padding-bottom:0.7em;
	}

/* Gallery Style */

#gallery {
	padding:10px;
	width:900px; /* Sets width of gallery */
	}

#gallery img {
	padding:5px; margin:5px; /* Sets spacing around images */
	border:1px solid #aaa; /* Places gray border around images */
	}

#gallery a:hover img {
	border:1px solid #000;
	}
