<nav id="main-nav">
  <ul class="nav-menu">
    <li class="nav-item"><a href="/faculty/aceveda/index.html">Welcome</a></li>

    <li class="nav-item">
      <a href="?people">People</a>
      <div class="sub-nav">
        <ul class="sub-nav-group">
          <li><a href="/faculty/aceveda/people.html">Who We Are</a></li>
          <li><a href="/faculty/aceveda/Alejandro%20Gallery.html">Alejandro</a></li>
          <li><a href="/faculty/aceveda/People%20HTML%20files/CurrentMSc.html">MSc Students</a></li>
          <li><a href="/faculty/aceveda/People%20HTML%20files/CurrentUG.html">Undergraduates</a></li>
          <li><a href="/faculty/aceveda/People%20HTML%20files/PastMSc.html">Past MSc Students</a></li>
          <li><a href="/faculty/aceveda/People%20HTML%20files/PastUG.html">Past Undergrads</a></li>
          <li><a href="/faculty/aceveda/People%20HTML%20files/PasAssistants.html">Past Assistants</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a href="?research">Research</a>
      <div class="sub-nav">
        <ul class="sub-nav-group">
          <li><a href="/faculty/aceveda/research.html">Research Overview</a></li>
          <li><a href="/faculty/aceveda/Research%20HTML%20files/Biology.html">Marine Mammal Studies</a></li>
          <li><a href="/faculty/aceveda/Research%20HTML%20files/tobecomeastudent.html">To Become A Student</a></li>
          <li><a href="/faculty/aceveda/Research%20HTML%20files/ScienceEd.html">Science Education Work</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a href="?publications">Publications</a>
      <div class="sub-nav">
        <ul class="sub-nav-group">
          <li><a href="/faculty/aceveda/publications.html">Overview of Publications</a></li>
          <li><a href="/faculty/aceveda/Publications%20HTML%20files/Papers.html">Papers</a></li>
          <li><a href="/faculty/aceveda/Publications%20HTML%20files/Theses.html">Theses</a></li>
          <li><a href="/faculty/aceveda/Publications%20HTML%20files/Conferences.html">Conferences</a></li>
          <li><a href="/faculty/aceveda/Publications%20HTML%20files/Meetings.html">Student Meetings</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a href="?blogs">Blogs</a>
      <div class="sub-nav">
        <ul class="sub-nav-group">
          <li><a href="/faculty/aceveda/blogs.html">Blog Overview</a></li>
          <li><a href="/faculty/aceveda/Blogs%20HTML%20files/Current.html">Student Blogs</a></li>
          <li><a href="/faculty/aceveda/Blogs%20HTML%20files/Sabbatical2015.html">Sabbatical 15/16</a></li>
          <li><a href="/faculty/aceveda/Blogs%20HTML%20files/Sabbatical2008.html">Sabbatical 08/09</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a href="/faculty/aceveda/photos.html">Photos</a>
    </li>

    <li class="nav-item">
      <a href="?blogs">Tropical Marine Biology</a>
      <div class="sub-nav">
        <ul class="sub-nav-group">
          <li><a href="/faculty/aceveda/tropmarbiol.html">Research Opportunities</a></li>
          <li><a href="/faculty/aceveda/TMB%20Photo%20Gallery.html">Course Photos</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a href="/faculty/aceveda/resources.html">Resources</a>
    </li>

  </ul>
</nav>
