<div>
    <h4>Extra Info</h4>
    <p>Contact info, important links, twitter embeds, etc.</p>
    <h4>Contact</h4>
    <p><strong>Building and Room Number</strong></p>
    <p>Phone: <a class="sidebar-phone" href="#">(111) 222-3333</a></p>
    <p>Fax: 111-222-3333</p>
    <p><a href="mailto:fakeemail@fakedomain.com"> sample.email@wwu.edu</a></p>
    <p><a class="staff-direct-link" href="#">Staff Directory</a></p>
</div>
