<header role="banner">
  <a href="https://www.wwu.edu" class="western-logo"><span class="logo-text visually-hidden">Western Washington University</span></a>
  <a href="/faculty/aceveda/index.html" class="site-name">
    <div class="name-container">
      <!-- Your site's title in the banner -->
      <span>Marine Mammal Ecology Lab</span>
    </div>
  </a>
