<aside class="social-media-nav">
    <ul>
    <!-- Adding social media links: Uncomment the section below and add the classname of the social network (Facebook, Twitter, Youtube, Linkedin, GooglePlus, Flickr, Instagram, Tumblr, Foursquare) for the icon to appear. -->
        <li><a href="https://www.facebook.com/westernwashingtonuniversity" class="facebook-icon" alt="Facebook"></a></li>
        <li><a href="https://twitter.com/WWU" class="twitter-icon" alt="Twitter"></a></li>
        <li><a href="https://www.youtube.com/wwu" class="youtube-icon" alt="Youtube"></a></li>
    </ul>
</aside>
