<div class="quick-links-search-container">
  <nav aria-label="Western Quick Links">
    <div class="western-quick-links">
      <button class="is-closed">Open Quick Links</button>
      <ul>
        <li><a href="https://www.wwu.edu/academic_calendar" title="Calendar">
          <span aria-hidden="true">c</span> <span>Calendar</span>
        </a></li>
        <li><a href="https://www.wwu.edu/directory" title="Directory">
          <span aria-hidden="true">d</span> <span>Directory</span>
        </a></li>
        <li><a href="https://www.wwu.edu/index" title="Index">
          <span aria-hidden="true">i</span> <span>Index</span>
        </a></li>
        <li><a href="https://www.wwu.edu/campusmaps" title="Map">
          <span aria-hidden="true">l</span> <span>Map</span>
        </a></li>
        <li><a href="https://mywestern.wwu.edu" title="myWestern">
          <span aria-hidden="true">w</span> <span>myWestern</span>
        </a></li>
      </ul>
    </div>
  </nav>
  <div class="western-search" role="search" aria-label="Western">
    <button id="open-search"></button>
    <div class="western-search-widget">
      <form method="get" action="https://search2.wwu.edu/texis/search/">
        <div class="western-search-terms">
          <label class="screen-reader-text" for="search-site">Enter the terms you wish to search for.</label>
          <input id="search-site" name="query" placeholder="Search this site">
        </div>
        <div class="western-search-type-toggle">
          <input type="checkbox" id="western-search-western">
          <label for="western-search-western">Search Western</label>
        </div>
        <input type="submit" value="Search" onclick="setSearchProfile()">
        <!-- Change the "sharename" to match your search "Collection" name. Contact web.help@wwu.edu for help. -->
        <input type="hidden" name="pr" value="Default-WWU">
      </form>
    </div>
  </div>
</div>
</header>
