<div class="grid-container--3col top-image-gallery">
    <div>
      <a class="" href="images/photos/for banner/Seals aerial_A Banks.jpg">
        <img class="cards-img" src="images/photos/for banner/Seals aerial_A Banks.jpg" alt="seals laying on the beach" title="seals laying on the beach">
      </a>
      <p><strong>Harbor seals from the air:</strong>  Aerial surveys allow us to estimate their number and occurrences.</p>
    </div>
    <div>
      <a class="" href="images/photos/for%20banner/seal%20feeding_S%20French.jpg">
        <img class="cards-img" src="images/photos/for%20banner/seal%20feeding_S%20French.jpg" alt="a seal catching a fish" title="a seal catching a fish">
      </a>
      <p><strong>Harbor seals in a creek:</strong>  Some harbor seals sometimes visit creeks during salmon runs to feed.
      </p>
    </div>
    <div>
      <a class="" href="images/photos/for%20banner/Seal%20on%20beach_E%20Dagnese.jpg">
        <img class="cards-img" src="images/photos/for%20banner/Seal%20on%20beach_E%20Dagnese.jpg" alt="a seal waving at the camera" title="a seal waving at the camera">
      </a>
      <p><strong>Harbor seal resting:</strong>  Harbor seals frequently haul-out on land<br>for many reasons, including to rest.
      </p>
    </div>
    <div>
      <a class="" href="images/photos/for%20banner/Seal%20on%20log_E%20Dagnese.jpg">
        <img class="cards-img" src="images/photos/for%20banner/Seal%20on%20log_E%20Dagnese.jpg" alt="a seal calmly sitting on logs"
        title="a seal calmly sitting on logs">
      </a>
      <p><strong>Harbor seal on logs:</strong>  Harbor seals haul-out on many places, including rocky beaches and floating logs.</p>
    </div>
    <div>
      <a class="" href="images/photos/for%20banner/seal%20molting.jpg">
        <img class="cards-img" src="images/photos/for%20banner/seal%20molting.jpg" alt="a seal perched on a rock near the water" title="a seal perched on a rock near the water">
      </a>
      <p><strong>Harbor seal molting:</strong>  Harbor seals molt their fur on a seasonal basis.</p>
    </div>
    <div>
      <a class="" href="images/photos/for%20banner/Tagged%20seal_S%20Hardee.jpg">
        <img class="cards-img" src="images/photos/for%20banner/Tagged%20seal_S%20Hardee.jpg" alt="a seal with a tracker attatched to its head"
        title="a seal with a tracker attatched to its head">
      </a>
      <p><strong>Transmitter on head:</strong>  Transmitters allow us to recover data; they fall off when seals  molt in autumn.</p>
    </div>
</div>
